{#
/**
 * @file
 * Text with featured media.
 *
 * Variant "left_simple" is used by default.
 */
#}

{% set variant = variant|default('left_simple') %}

{% set video_ratio = video_ratio|replace({':': '-'}) %}
{% set allowed_values = ['16-9','4-3','3-2','1-1'] %}
{% if video_ratio not in allowed_values %}
  {% set video_ratio = '16-9' %}
{% endif %}
{% set text = text|render %}

{% set media_position_class = 'right' in variant ? '' : ' ecl-u-order-m-last' %}

{% set call_to_action_link = '' %}
{% if link %}
  {% set link_type = 'featured' in variant ? 'cta' : 'standalone' %}

  {% set call_to_action_link %}
    {% include '@ecl-twig/link' with {
      link: {
        type: link_type,
        label: link.label,
        path: link.path,
        icon_position: 'after'
      },
      extra_classes: 'ecl-u-mt-m ecl-u-mt-m-l ecl-u-type-bold',
      icon: get_link_icon(link.path)
    } %}
  {% endset %}
{% endif %}

{% if image or video or text or call_to_action_link or text_title %}
  <div class="ecl-featured-item{{ highlighted == true ? ' ecl-featured-item--extended' : '' }}">
    {% if title %}
      <h2 class="ecl-featured-item__heading">{{ title }}</h2>
    {% endif %}
    <article class="ecl-featured-item__container">
      {% if image or video %}
        <div class="ecl-col-m-6 ecl-u-mb-m ecl-u-mb-m-none{{ media_position_class }}">
          {% if image %}
            {% include '@ecl-twig/media-container' with {
              'image': image.src,
              'alt': image.alt,
              'description': caption,
            } %}
          {% elseif video %}
            {% include '@ecl-twig/media-container' with {
              'embedded_media': video,
              'ratio': video_ratio,
              'description': caption,
            } %}
          {% endif %}
        </div>
      {% endif %}
      {% if text_title or text or call_to_action_link %}
        <div class="ecl-featured-item__item">
          <div class="{{ image or video ? 'ecl-col-m-6' : 'ecl-col-12' }}">
            {% if text_title %}
              <div class="ecl-featured-item__title">{{ text_title }}</div>
            {% endif %}
            {% if text %}
              <div class="ecl">{{ text }}</div>
            {% endif %}
            {{ call_to_action_link }}
          </div>
        </div>
      {% endif %}
    </article>
  </div>
{% endif %}
