{#
/**
 * @file
 * Theme override for a 'select' #type element.
 *
 * @see ./core/themes/stable/templates/form/select.html.twig
 */
#}
{% set extra_attributes = ['ecl-select'] %}
{% if attributes.hasClass('error') %}
  {% set extra_attributes = extra_attributes|merge(['ecl-select--has-error']) %}
{% endif %}
{% spaceless %}
  <select{{ attributes.addClass(extra_attributes) }}>
    {% for option in options %}
      {% if option.type == 'optgroup' %}
        <optgroup label="{{ option.label }}">
          {% for sub_option in option.options %}
            <option value="{{ sub_option.value }}"{{ sub_option.selected ? ' selected="selected"' }}>{{ sub_option.label }}</option>
          {% endfor %}
        </optgroup>
      {% elseif option.type == 'option' %}
        <option value="{{ option.value }}"{{ option.selected ? ' selected="selected"' }}>{{ option.label }}</option>
      {% endif %}
    {% endfor %}
  </select>
{% endspaceless %}
