{#
  /**
   * @file
   * Theme implementation for a ECL thumbnail list item component.
   *
   * @see @ecl/card.html.twig
   */
  Parameters:
    - "card" (associative array) (default: predefined structure): format:
        {
          type: 'default', (can be 'default','tile'): Card type
          description: '', (string) (default: ''): Description of card
          meta: [], (array) (default: []): Meta's for the Card
          title: {}, (associative array) (default: {}): Predefined structure compatible with Link component. If Card type is a 'tile', only label property is required.
          image: '', (string) (default: ''): Url/path to background image (non required if Card type is a 'tile')
          image_position: 'after' (string) (Can be 'before' or 'after'. Is required only if Icon is specified)
          tags: [], (array) (default: []): List of tags compatible with EC Tag component structure
          infos: [], (array) (default: []): format: [
            {
              label: '', (string) (default: ''): Label of info
              icon: {}, (associative array) (default: {}): Predefined structure compatible with EC Icon
            },
            ...
          ]
          links: [], (array) (default: []): List of links (required if Card type is a 'tile'). Format: [
            {
              label: (string) (default: ''): Label of link
              path: (string) (default: ''): Link url (href attribute)
            },
            ...
          ]
        }
    - "extra_classes" (string) (default: '')
    - "extra_attributes" (array) (default: []): format: [
        {
          "name" (string) (default: ''),
          "value" (string) (default: '')
        },
        ...
      ]
#}

{# Internal properties #}

{% set _card = {
  type: 'default',
  description: '',
  meta: [],
  title: {},
  image: '',
  image_position: 'before',
  infos: [],
  tags: [],
  links: []
} %}

{% if card is defined %}
  {% set _card = _card|merge(card) %}
{% endif %}

{% set _css_class = 'ecl-card ecl-u-d-flex' %}
{% set _extra_attributes = '' %}

{# Set class for card different than default #}

{% if _card.type != 'default' %}
  {% set _css_class = _css_class ~ ' ecl-card--' ~ _card.type %}
{% endif %}

{# Internal logic - Process properties #}

{% if extra_classes is defined and extra_classes is not empty %}
  {% set _css_class = _css_class ~ ' ' ~ extra_classes %}
{% endif %}

{% if extra_attributes is defined and extra_attributes is not empty and extra_attributes is iterable %}
  {% for attr in extra_attributes %}
    {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name ~ '="' ~ attr.value ~ '"' %}
  {% endfor %}
{% endif %}

{# Print the result #}

<article class="{{ _css_class }}"{{ _extra_attributes|raw }}>
  {% if _card.image and _card.image_position == 'before' %}
    <div role="img" aria-label="{{ _card.image.alt }}" class="ecl-u-ratio-3-2 ecl-u-flex-shrink-0 ecl-u-mr-xl ecl-u-d-none ecl-u-d-lg-block ecl-u-mv-s"
         style="background-image:url(&quot;{{ _card.image.src }}&quot;);background-size:contain;height:8.75rem;width:13.125rem"></div>
  {% endif %}
  <div class="ecl-u-flex-grow-1">
    <header class="ecl-card__header">
      {% if _card.meta is not empty %}
        <div class="ecl-card__meta">{{ _card.meta|join(" | ") }}</div>
      {% endif %}
      <h1 class="ecl-card__title">
        {%- if _card.title.path %}
          {% include '../ec-component-link/link.html.twig' with {
            link: _card.title
          } only %}
        {% else %}
          {{- _card.title.label }}
        {%- endif -%}
      </h1>
    </header>
    <section class="ecl-card__body">
      <div class="ecl-card__description">{{ _card.description }}</div>
      {% if _card.links is defined and _card.links is not empty and _card.links is iterable %}
        <ul class="ecl-card__link-container">
          {% for link in _card.links %}
            <li class="ecl-card__link-item">
              {% include '../ec-component-link/link.html.twig' with {
                link: link|merge({ type: 'standalone' }),
                extra_classes: 'ecl-card__link'
              } only %}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </section>
    <footer class="ecl-card__footer">
      {% if _card.infos is defined and _card.infos is not empty and _card.infos is iterable %}
        <ul class="ecl-card__info-container">
          {% for info in _card.infos %}
            <li class="ecl-card__info-item">
              {% include '../ec-component-icon/icon.html.twig' with {
                icon: info.icon|merge({ size: 'xs' })
              } only %}
              <span class="ecl-card__info-label">{{ info.label }}</span>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if _card.tags is defined and _card.tags is not empty and _card.tags is iterable %}
        <ul class="ecl-card__tag-container">
          {% for tag in _card.tags %}
            <li class="ecl-card__tag-item">
              {% include '../ec-component-tag/tag.html.twig' with {
                tag: tag,
                extra_classes: 'ecl-card__tag'
              } only %}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </footer>
  </div>
  {% if _card.image and _card.image_position == 'after' %}
    <div role="img" aria-label="{{ _card.image.alt }}" class="ecl-u-ratio-3-2 ecl-u-flex-shrink-0 ecl-u-ml-xl ecl-u-d-lg-block ecl-u-mv-s"
         style="background-image:url(&quot;{{ _card.image.src }}&quot;);background-size:contain;height:5rem;width:7.5rem"></div>
  {% endif %}
</article>
