{% spaceless %}

{#
  Parameters:
    - "expandable_id" (string) (default: ''): unique ID for the expandable component.
    - "unavailable" (string) (default: ''): language currently unavailable.
    - "current" (string) (default: ''): language currently displayed instead of the selected, unavailable, one.
    - "options" (array) (default: []): array of links to the content in different languages. Format:
      [
        {
          "href" (string) URL of the content (default: ''),
          "hreflang" (string) language code to be used as link attribute,
          "label" (string) link label, i.e. the language name in its native form (default: '')
        },
        ...
      ]
    - "icon_path" (string) (default: ''): path to ECL SVG icon assets.
    - "ecl_template" (string) (default: ''): "core" or "standardised" template.
#}

<div class="ecl-lang-select-page">
  <div class="ecl-u-d-flex {{ not ecl_template == 'core' ? 'ecl-u-type-color-white '}}ecl-u-align-items-start ecl-u-font-s">
    <span class="ecl-u-d-flex ecl-u-align-items-center ecl-u-pt-xs">
      {% include '@ecl-twig/icon' with {
        icon: {
          path: icon_path,
          type: "general",
          name: "generic-lang",
          size: "l"
        }
      } only %}
      {# Show the unavailable language with a striketrought. #}
      <span class="ecl-u-ml-m ecl-u-type-m ecl-u-type-strike">
        {{ unavailable }}
      </span>
    </span>
    {# If we have more than one optional languages then use an expandable to display them. #}
    {% if options %}
      {% set languages %}
        <ul class="ecl-u-d-flex ecl-u-flex-wrap ecl-unordered-list ecl-unordered-list--no-bullet">
          {% for language in options %}
            <li class="ecl-u-mt-none ecl-u-d-flex ecl-unordered-list__item">
              <a href="{{ language.href }}" lang="{{ language.hreflang }}" class="ecl-u-type-color-white ecl-u-ph-s ecl-u-pv-m ecl-u-type-s ecl-link">{{ language.label }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endset %}
      {% include '@ecl-twig/expandable' with {
        'id': expandable_id,
        'label_expanded': current,
        'label_collapsed': current,
        'expanded': false,
        'button': {
          'label': current,
          'type': 'button',
          'variant': 'secondary',
          'icon': {
            'path': icon_path,
            'type': "ui",
            'name': "corner-arrow",
            'size': "xs",
            'transform': "rotate-180"
          },
          'icon_position': 'after'
        },
        'extra_classes': 'ecl-u-ml-s',
        'content': languages,
      } only %}
    {% else %}
      {# If we have only one alternative language just display it as a button, without any otherwise empty expandable. #}
      {% include '@ecl-twig/button' with {
        'label': current,
        'type': 'button',
        'variant': 'secondary',
        'extra_classes': 'ecl-u-ml-s'
      } only %}
    {% endif %}
  </div>
</div>

{% endspaceless %}
