{% spaceless %}

{#
/**
 * @file
 * Theme implementation for ECL Organisation Teaser.
 *
 * Available variables:
 * - "name" (string) (default: ''): name of the organisation.
 * - "acronym" (string) (default: ''): acronym of the organisation.
 * - "logo" (ImageValueObject) (default: {}): logo of the organisation.
 * - "organisation_details" (array) (default: []): list of fields.
 * - "contact_page_url" (string) (default: ''): email adress or contact page to contact the organisation.
 * - "contact_page" (array) (default: []): processed organisation contact page url.
 */
#}

{# Internal properties #}

{% set _css_class = 'ecl-content-item ecl-u-d-flex ecl-u-pb-m' %}
{% set _extra_attributes = '' %}
{% set _name = name|default('') %}
{% set _acronym = acronym|default('') %}
{% set _logo = logo|default({}) %}
{% set _organisation_details = organisation_details|default([])%}

{# Icon for the "Contact organisation" link. #}

{% if contact_page_url is not empty %}
  {% set _contact_page_url = contact_page.url|default('') %}
  {% set _contact_page_icon = contact_page.icon|default('internal') %}
  {% set _contact_page_label = contact_page.label|default('Contact organisation'|t) %}

  {% if _contact_page_icon == 'internal' %}
    {% set _icon = {
      path: ecl_icon_path,
      type: 'ui',
      name: 'corner-arrow',
      size: 's',
      color: 'primary',
      transform: 'rotate-90'
    }
    %}
  {% else %}
    {% set _icon = {
      path: ecl_icon_path,
      type: 'ui',
      name: _contact_page_icon,
      size: 's',
      color: 'primary'
    }
    %}
  {% endif %}
{% endif %}

{# Internal logic - Process properties #}

{% if extra_classes is defined and extra_classes is not empty %}
  {% set _css_class = _css_class ~ ' ' ~ extra_classes %}
{% endif %}

{% if extra_attributes is defined and extra_attributes is not empty and extra_attributes is iterable %}
  {% for attr in extra_attributes %}
    {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name ~ '="' ~ attr.value ~ '"' %}
  {% endfor %}
{% endif %}

{# Create macro for an image. #}
{% macro image(src, alt) %}
  <div role="img"
       aria-label="{{ alt }}"
       class="ecl-u-flex-shrink-0
        ecl-u-mr-s
        ecl-u-media-a-s
        ecl-u-media-bg-size-contain
        ecl-u-media-bg-repeat-none
        ecl-u-d-lg-block"
        style="background-image: url('{{ src }}');"
  ></div>
{% endmacro %}

<article class="ecl-u-mb-l ecl-u-border-bottom ecl-u-border-width-3 ecl-u-border-color-grey-15 {{ _css_class }}"{{ _extra_attributes|raw }}>
  {% if _logo is not empty %}
    {{ _self.image(_logo.src, _logo.alt) }}
  {% endif %}

  <div class="ecl-u-flex-grow-1 ecl-u-type-color-grey">
    {% if _name is not empty %}
      <h4 class="ecl-u-type-heading-4 ecl-u-mb-s ecl-u-mt-none">
        {{ _name }}{% if _acronym is not empty %} | {{ _acronym }}{% endif %}
      </h4>
    {% endif %}

    {% if _organisation_details|length > 0 %}
      {% include '@oe_theme/patterns/field_list/pattern-field-list.html.twig' with {
        variant: 'horizontal',
        items: _organisation_details
      } %}
    {% endif %}

    {% if _contact_page_url is not empty %}
      <div class="ecl-u-mt-l ecl-u-type-bold">
        {% include '@ecl-twig/link' with {
          link: {
            type: 'standalone',
            label: _contact_page_label,
            path: _contact_page_url,
            icon_position: 'after'
          },
          icon: _icon
        } %}
      </div>
    {% endif %}
  </div>
</article>
{% endspaceless %}
