{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * @see ./core/themes/stable/templates/layout/html.html.twig
 */
#}
{%
    set body_classes = [
        'language-' ~ html_attributes.lang,
        'ecl-typography',
        logged_in ? 'user-logged-in',
        not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
        node_type ? 'page-node-type-' ~ node_type|clean_class,
        db_offline ? 'db-offline',
    ]
%}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token }}">
    <js-placeholder token="{{ placeholder_token }}">
  </head>
  <body{{ attributes.addClass(body_classes) }}>
    {#
      Keyboard navigation/accessibility link to main content section in
      page.html.twig.
    #}
    {% include '@ecl-twig/skip-link' with {
      label: 'Skip to main content'|t,
      href: '#main-content',
      extra_attributes: [{name: 'id', value: 'skip-id'}]
    } %}
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token }}">
  </body>
</html>
