{% spaceless %}

{#
  /**
   * @file
   * Theme implementation for a ECL Content Item for date.
   */
  Parameters:
    - "description" (string) (default: ''): Description of Content Item Date
    - "meta" (array) (default: []): Meta information for the Content Item Date
    - "title" (associative array) (default: {}): Predefined structure compatible with Link component. If Content Item type is a 'tile', only label property is required.
    - "date" (associative array) (default: {}): Predefined structure compatible with Date block component.
    - "extra_classes" (string) (default: '')
    - "extra_attributes" (array) (default: []): format: [
        {
          "name" (string) (default: ''),
          "value" (string) (default: '')
        },
        ...
      ]
#}

{# Internal properties #}

{% set _css_class = 'ecl-content-item-date ecl-u-d-flex ecl-u-pv-m' %}
{% set _extra_attributes = '' %}
{% set _type = type|default('default') %}
{% set _description = description|default('') %}
{% set _meta = meta|default([]) %}
{% set _title = title|default({}) %}
{% set _image = image|default('') %}
{% set _image_position = image_position|default('before') %}
{% set _links = links|default([]) %}

{# Internal logic - Process properties #}

{% if extra_classes is defined and extra_classes is not empty %}
  {% set _css_class = _css_class ~ ' ' ~ extra_classes %}
{% endif %}

{% if extra_attributes is defined and extra_attributes is not empty and extra_attributes is iterable %}
  {% for attr in extra_attributes %}
    {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name ~ '="' ~ attr.value ~ '"' %}
  {% endfor %}
{% endif %}

<article class="{{ _css_class }}"{{ _extra_attributes|raw }}>
  <div class="ecl-content-item-date__date ecl-u-flex-grow-0 ecl-u-mr-m">
    {% include '@oe_theme/compositions/ec-component-date-block/date-block.html.twig' with {
      variant: variant|replace({'_':'-'})|to_date_status,
      week_day: date.week_day,
      day: date.day,
      month_fullname: date.month_fullname,
      month_name: date.month_name,
      month: date.month,
      year: date.year
    } only %}
  </div>
  <div class="ecl-u-flex-grow-1">
    {% if _meta is not empty %}
      <div class="ecl-content-item-date__meta ecl-u-type-s ecl-u-type-color-grey-75">{{ _meta|join(" | ") }}</div>
    {% endif %}
    <div class="ecl-content-item-date__title ecl-u-type-prolonged-m ecl-u-type-bold ecl-u-mt-xs">
      {%- if _title.path %}
        {% include '@ecl-twig/link' with {
          link: _title|merge({type:'standalone'})
        } only %}
      {% else %}
        {{- _title.label }}
      {%- endif -%}
    </div>
    <div class="ecl-content-item-date__description ecl-u-type-paragraph ecl-u-type-color-grey-100 ecl-u-mt-xs">{{ _description }}</div>
  </div>
</article>
{% endspaceless %}
