{#
/**
 * @file
 * Theme override to display a node of bundle event.
 */
#}

<div class="ecl-row">
    <div class="ecl-col-12 ecl-col-md-6 ecl-u-order-md-last">
      {{ pattern('icons_with_text', content.icons_with_text) }}
    </div>
  <div class="ecl-col-12 ecl-col-md-6 ecl-u-mt-2xl ecl-u-mt-md-none ecl-editor">
    {{ content.report is not empty ? content.report_summary : content.description_summary }}
    <p class="ecl-u-type-paragraph ecl-u-mb-none">
      <a href="#{{ content.report is not empty ? 'report' : 'description' }}" class="ecl-u-mt-l ecl-link ecl-link--standalone ecl-link--icon ecl-link--icon-after"><span class="ecl-link__label">Read more</span></a>
    </p>
  </div>
</div>

{# Registration button #}
{% if content.registration_button.state != 'disabled' %}
  <a href="{{ content.registration_button.url }}" class="ecl-u-mt-2xl ecl-link ecl-link--cta" title="{{ content.registration_button.description }}">{{ content.registration_button.label }}</a>
{% else %}
  <button type="submit" class="ecl-button ecl-button--call ecl-u-mt-2xl ecl-link ecl-link--cta" disabled="" title="{{ content.registration_button.description }}">{{ content.registration_button.label }}</button>
{% endif %}

{# Practical information #}
{% if content.practical_information %}
  <h2 class="ecl-u-type-heading-2 ecl-u-mt-2xl ecl-u-mt-md-3xl ecl-u-mb-l">{{ 'Practical information'|t }}</h2>
  <div class="ecl-row">
    <div class="ecl-col-12">
      {{ pattern('field_list', content.practical_information, 'horizontal') }}
    </div>
  </div>
{% endif %}
{% if content.social_media_links %}
  <div class="ecl-row">
    <div class="ecl-col-12 ecl-col-md-6">
      {# Social media links #}
      {{ pattern('social_media_links_horizontal', content.social_media_links) }}
    </div>
  </div>
{% endif %}

{# Description and Report #}
{% if content.featured_media or content.description or content.report %}
  <h2 class="ecl-u-type-heading-2 ecl-u-mt-2xl ecl-u-mt-md-3xl ecl-u-mb-l" id="{{ content.report is not empty ? 'report' : 'description' }}">{{ content.report is not empty ? 'Report'|t : 'Description'|t }}</h2>
  <div class="ecl-row">
    {% if content.featured_media %}
      <div class="ecl-col-12 ecl-col-md-6 ecl-u-order-md-last ecl-u-mb-l ecl-u-mb-md-none">
        <figure class="ecl-media-container">
          {{ pattern('file_image', content.featured_media) }}
          {% if content.featured_media.legend %}
            <figcaption class="ecl-media-container__caption">{{ content.featured_media.legend }}</figcaption>
          {% endif %}
        </figure>
      </div>
    {% endif %}

    {% if content.description or content.report %}
      <div class="ecl-col-12 {{ content.featured_media is not empty ? 'ecl-col-md-6 '}}ecl-editor">
        {{ content.report is not empty ? content.report : content.description }}
      </div>
    {% endif %}
  </div>
{% endif %}

{# Contacts #}
{% if content.contacts is iterable %}
  <h2 class="ecl-u-type-heading-2 ecl-u-mt-2xl ecl-u-mt-md-3xl ecl-u-mb-l" id="description">{{ 'Contacts'|t }}</h2>
  {% for _item in content.contacts %}
    {% if loop.first %}
      <div class="ecl-row">
    {% endif %}
      <div class="ecl-col-12 ecl-col-md-6 ecl-u-mt-l ecl-u-mt-md-none">
        <h3 class="ecl-u-type-heading-3 ecl-u-mt-none ecl-u-mb-m ecl-u-mb-md-l">{{ _item.contact_type }}</h3>
        {{ pattern('field_list', _item, 'horizontal') }}
      </div>
    {% if loop.index is divisible by(3) %}
      </div>
      <div class="ecl-row">
    {% endif %}
  {% endfor %}
  </div>
{% endif %}

