{% apply spaceless %}

{#
/**
 * @file
 * Theme implementation for a ECL Content Item Block.
 */
Parameters:
  - "type" (string) (default: 'one'): Type of Content Item Block
  - "title" (string) (default: ''): Title of Content Item Block
  - "introduction" (string) (default: ''): A brief summary of the block.
  - "items" (array) (default: []): Content Item's for the Content Item Block
  - "button" (associative array) (default: {}): Predefined structure compatible with Link component.
  - "button_separator" (boolean) (default: false): Whether to add a button separator.
  - "extra_classes" (string) (default: '')
  - "extra_attributes" (array) (default: []): format: [
      {
        "name" (string) (default: ''),
        "value" (string) (default: '')
      },
      ...
    ]
#}

{# Internal properties #}

{% set _css_class = 'ecl-content-item-block' %}
{% set _extra_attributes = '' %}
{% set _type = type|default('one') %}
{% set _title = title|default('') %}
{% set _introduction = introduction|default('') %}
{% set _items = items|default([]) %}
{% set _button = button|default({}) %}

{# Internal logic - Process properties #}

{% if extra_classes %}
  {% set _css_class = _css_class ~ ' ' ~ extra_classes %}
{% endif %}

{% if extra_attributes %}
  {% for attr in extra_attributes %}
    {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name ~ '="' ~ attr.value ~ '"' %}
  {% endfor %}
{% endif %}

{% set _extra_classes_item = 'ecl-col-12' %}
{% if _type == 2 %}
  {% set _extra_classes_item = _extra_classes_item ~ ' ecl-col-l-6' %}
{% elseif _type == 3 %}
  {% set _extra_classes_item = _extra_classes_item ~ ' ecl-col-l-4' %}
{% elseif _type == 4 %}
  {% set _extra_classes_item = _extra_classes_item ~ ' ecl-col-l-3' %}
{% elseif _type == 6 %}
  {% set _extra_classes_item = _extra_classes_item ~ ' ecl-col-l-2' %}
{% endif %}

<div class="{{ _css_class }}"{{ _extra_attributes|raw }}>
  {% if _title %}
    <div class="ecl-row">
      <div class="ecl-content-item-block__title ecl-col-12">
        <h2 class='ecl-u-type-heading-2'>{{ _title }}</h2>
      </div>
    </div>
  {% endif %}

  {% if _introduction %}
    <div class="ecl-row">
      <div class="ecl-content-item-block__introduction ecl ecl-u-mb-2xl ecl-col-12">
        {{ _introduction }}
      </div>
    </div>
  {% endif %}

  <div class="ecl-row">
    {% if vertical %}
      {% set items_per_column = _items|length/_type %}
      {% for column in _items|batch(items_per_column) %}
        {% set last_item_column_css = "" %}
        {% set last_item_css = "" %}
        {% if loop.last %}
          {% set last_item_css = "last-item" %}
        {% endif %}
        <div class="ecl-content-item-block__item contextual-region ecl-u-mb-l {{ _extra_classes_item }} vertical">
          {% for _item in column %}
            {% if loop.last %}
              {% set last_item_column_css = "last-item-column" %}
              {% if last_item_css is not empty %}
                {% set last_item_column_css = last_item_column_css ~ " " ~ last_item_css %}
              {% endif %}
            {% endif %}
            <div class="ecl-content-item-block__item contextual-region ecl-u-mb-l {{ last_item_column_css }}">
              {{ _item }}
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    {% else %}
      {% for _item in _items %}
        {% set last_item_column_css = "" %}
        {% if loop.index > _items|length - _type %}
          {% set last_item_column_css = "last-item-column" %}
        {% endif %}
        {% if loop.last %}
          {% set last_item_column_css = last_item_column_css ~ " last-item" %}
        {% endif %}
        <div class="ecl-content-item-block__item contextual-region ecl-u-mb-l {{ _extra_classes_item }} {{ last_item_column_css }}">
          {{ _item }}
        </div>
      {% endfor %}
    {% endif %}
  </div>

  {% if _button.label %}
    {% if button_separator %}
      <div class="ecl-u-border-color-neutral ecl-u-border-width-1 ecl-u-border-top"></div>
    {% endif %}
    <div class="ecl-row">
      <div class="ecl-content-item-block__button ecl-col-12">
        <div class="ecl-u-clearfix ecl-u-pv-m">
          {% if _button.path %}
            {% include '@ecl-twig/link' with {
              link: _button|merge({
                'type': 'standalone',
              }),
              icon: {
                'name': _button.icon_name,
                'size': 'xs',
                'path': icon_path,
                'transform': _button.transform|default('')
              }
            } only %}
          {% else %}
            {{- _button.label -}}
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}
</div>
{% endapply %}
