{#
/**
 * @file
 * Default template for the 'oe_theme_helper_in_page_navigation' in-page navigation.
 *
 * Available variables:
 * - element: Renderable elements.
 * - entity: The rendering object.
 * - title: Title of the navigation side.
 * - items: In-page navigation items.
 *
 * @see template_preprocess_oe_theme_helper_in_page_navigation()
 *
 * @ingroup themeable
 */
#}
{% set items_length = items|length %}
{% set _links = [] %}
{% for link in links %}
  {#
     We need to pre-render each item content so to establish if to show its related navigation link.
     This will only work if Twig debug is set to "false" since, otherwise, the element will contain
     debug HTML comments, which make the element not empty.
  #}
   {% set content = link.content|render %}
   {% if content|trim is not empty %}
    {% set _links = _links|merge([{
      href: '#' ~ link.id,
      label: link.label,
    }]) %}
   {% endif %}
{% endfor %}

<div {{ attributes.addClass(['ecl-row', 'ecl-u-mt-l']) }}>
  {% block navigation %}
  <div class="ecl-col-12 ecl-col-lg-3">
    {% include '@ecl-twig/inpage-navigation' with {
      'title': title,
      'links': _links,
      'icon_path': ecl_icon_path
    } %}
  </div>
  {% endblock %}
  {% block content %}
  <div class="ecl-col-lg-9">
    {% set counter = 0 %}
    {% for key, item in items %}
      <div{{ counter + 1 != items_length ? ' class="ecl-u-mb-2xl"' }}>
        {% set counter = counter + 1 %}
        {% if key in links|keys %}
          {# Print label of in-page navigation item field group. #}
          <h2 id="{{ links[key].id }}" class="ecl-u-type-heading-2 ecl-u-mt-none ecl-u-mb-l">{{ links[key].label }}</h2>
        {% endif %}
        {{ item }}
      </div>
    {% endfor %}
  </div>
  {% endblock %}
</div>



