{% spaceless %}
{#
  @file
  Default item list component.

  Parameters:
    - "meta" (array) (default: []): Meta information for the Content Item.
    - "title" (string) (default: ''): Title for the list Content Item.
    - "url" (string) (default: ''): url path for the title Content Item.
    - "detail" (string) (default: ''): Description of Content Item.
    - "image" (array) (default: []): Image for the item.
    - "image_position" (string) (default: ''): Image before of after the item.
    - "length" (int) (default: 0): Max length of detail field.
    - "additional_information" (array): Additional information to be displayed right below the 'Detail' field.
#}

{# Create macro #}

{% macro image(src, alt, position) %}
<div role="img"
     aria-label="{{ alt }}"
     class="ecl-u-ratio-3-2
      ecl-u-flex-shrink-0
      ecl-u-d-lg-block
      ecl-content-item__image__{{ position }}
      ecl-u-{{ position == 'before' ? 'mr' : 'ml' }}-sm-l
      ecl-u-{{ position == 'before' ? 'mb' : 'mt' }}-l
      ecl-u-{{ position == 'before' ? 'mb' : 'mt' }}-sm-none"
     style="background-image: url('{{ src }}');
       background-size: contain;
       background-position: center;
       background-repeat: no-repeat;
       height:8.75rem;
       width:13.125rem"
></div>
{% endmacro %}

<article class="ecl-content-item ecl-u-d-sm-flex ecl-u-pb-m">
  {% if image and image_position == 'before' %}
    {{ _self.image(image.src, image.alt, image_position) }}
  {% endif %}
  <div class="ecl-u-flex-grow-1">
    {% block meta %}
      {% if meta is not empty %}
        <div class="ecl-content-item__meta ecl-u-type-s ecl-u-type-color-grey-75 ecl-u-mb-xs">{{ meta|filter_empty|safe_join(" | ") }}</div>
      {% endif %}
    {% endblock %}
    {% block title %}
      <div class="ecl-content-item__title ecl-u-type-heading-5 ecl-u-mb-xs ecl-u-mt-none">
        {%- if url %}
          {% include '@ecl-twig/link' with {
            link: {
              type: 'standalone',
              label: title,
              path: url
            }
          } only %}
        {% else %}
          {{ title }}
        {%- endif -%}
      </div>
    {% endblock %}
    {% block detail %}
      {% if detail is not empty %}
        <div class="ecl-content-item__description ecl-u-type-paragraph ecl-u-type-color-grey-100 ecl-u-mb-s">{{ detail|smart_trim(length) }}</div>
      {% endif %}
    {% endblock %}
    {% block additional_information %}
      {% if additional_information is not empty %}
        {% for item in additional_information %}
          {% set item = item|render %}
          {% if item|trim is not empty %}
            <div class="ecl-content-item__additional_information ecl-u-mb-s">{{ item }}</div>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endblock %}
  </div>
  {% if image and image_position == 'after' %}
    {{ _self.image(image.src, image.alt, image_position) }}
  {% endif %}
</article>
{% endspaceless %}
