{#
/**
 * @file
 * Default theme implementation for a ECL thumbnail list item component.
 */
#}
{% extends '@oe_theme/patterns/list_item/pattern-list-item.html.twig' %}
{# In order to keep backward compatibility, we convert the deprecated input hash into an image tag. #}
{% if image.src is not empty %}
  {% set image %}
    <img{{ create_attribute().setAttribute('src', image.src).setAttribute('alt', image.alt) }}/>
  {% endset %}
{% endif %}

{# Main content block. #}
{% block content %}
  <article class="list-item {{ list_item_classes|default('list-item__thumbnail_primary') }} ecl-u-d-md-flex">
    {% if image %}
      <div class="list-item__image {{ image_classes|default('list-item__image__before ecl-u-order-md-first') }} ecl-u-order-first ecl-u-flex-shrink-0">
        {% if url %}
          <a href="{{ url }}">{{ image }}</a>
        {% else %}
          {{ image }}
        {% endif %}
      </div>
    {% endif %}
    {# Primary block. #}
    {% block primary %}
      {{ parent() }}
    {% endblock %}
  </article>
{% endblock %}
