{% spaceless %}
{#
  @file
  Default item list component.

  Parameters:
    - "meta" (array) (default: []): Meta information for the Content Item.
    - "title" (string) (default: ''): Title for the list Content Item.
    - "url" (string) (default: ''): url path for the title Content Item.
    - "detail" (string) (default: ''): Description of Content Item.
    - "image" (array) (default: []): Image for the item.
    - "image_position" (string) (default: ''): Image before of after the item.
    - "length" (int) (default: 0): Max length of detail field.
    - "additional_information" (array): Additional information to be displayed right below the 'Detail' field.
#}
{# Main content block. #}
{% block content %}
<article class="list-item ecl-u-d-md-flex">
  {# Primary block. #}
  {% block primary %}
    <div class="ecl-u-flex-grow-1">
      {% if meta is not empty %}
        <div class="list-item__meta">{{ meta|safe_join(" | ") }}</div>
      {% endif %}
      <h3 class="list-item__title">
        {% if url %}
          <a href="{{ url }}" class="ecl-link ecl-link--standalone">{{ title }}</a>
        {% else %}
          {{ title }}
        {% endif %}
      </h3>
      {% if detail is not empty %}
        <div class="list-item__description{{ additional_information is not empty ? ' ecl-u-mb-s'}}">{{ detail|smart_trim(length) }}</div>
      {% endif %}
      {% if additional_information is not empty %}
        {% for item in additional_information %}
          <div class="list-item__additional_information{{ not loop.last ? ' ecl-u-mb-s' }}">{{ item }}</div>
        {% endfor %}
      {% endif %}
    </div>
  {% endblock %}
</article>
{% endblock %}
{% endspaceless %}
