{% spaceless %}
{#
  @file
  Default item list component.

  Parameters:
    - "meta" (array) (default: []): Meta information for the Content Item.
    - "title" (string) (default: ''): Title for the list Content Item.
    - "url" (string) (default: ''): url path for the title Content Item.
    - "detail" (string) (default: ''): Description of Content Item.
    - "image" (array) (default: []): Image for the item.
    - "image_position" (string) (default: ''): Image before of after the item.
    - "length" (int) (default: 0): Max length of detail field.
    - "additional_information" (array): Additional information to be displayed right below the 'Detail' field.
#}

<article class="ecl-content-item ecl-u-d-md-flex ecl-u-pb-m">
  <figure class="ecl-media-container
      ecl-u-flex-shrink-0
      ecl-u-order-first
      ecl-u-order-md-{{ image_position == 'before' ? 'first' : 'last' }}
      ecl-u-{{ image_position == 'before' ? 'mr' : 'ml' }}-md-l
      ecl-content-item__image__{{ image_position }}
      ecl-u-mb-m
      ecl-u-mb-md-none"
  >
    <a href="{{ url }}"><img class="ecl-media-container__media" src="{{ image.src }}" alt="{{ image.alt }}" /></a>
  </figure>
  <div class="ecl-u-flex-grow-1">
    {% if meta is not empty %}
      <div class="ecl-content-item__meta ecl-u-type-s ecl-u-type-color-grey-75 ecl-u-mb-xs">{{ meta|safe_join(" | ") }}</div>
    {% endif %}
    <div class="ecl-content-item__title ecl-u-type-heading-4 ecl-u-mb-xs ecl-u-mt-none">
      {%- if url %}
        {% include '@ecl-twig/link' with {
          link: {
            type: 'standalone',
            label: title,
            path: url
          }
        } only %}
      {% else %}
        {{ title }}
      {%- endif -%}
    </div>
    {% if detail is not empty %}
      <div class="ecl-content-item__description ecl-u-type-paragraph ecl-u-type-color-grey-100 ecl-u-mb-s">{{ detail|smart_trim(length) }}</div>
    {% endif %}
    {% if additional_information is not empty %}
      {% for item in additional_information %}
        <div class="ecl-content-item__additional_information ecl-u-mb-s">{{ item }}</div>
      {% endfor %}
    {% endif %}
  </div>
</article>
{% endspaceless %}
