{#
/**
 * @file
 * UI Pattern meta information.
 */
#}
{% if pattern is not empty %}

  {# Pattern name and desciption. #}
  <p>{{ pattern.description }}</p>

  {# Pattern fields descriptions. #}
  <table class="ecl-table">
    <thead>
    <tr>
      <th scope="col">{{ "Field"|t }}</th>
      <th scope="col">{{ "Label"|t }}</th>
      <th scope="col">{{ "Type"|t }}</th>
      <th scope="col">{{ "Description"|t }}</th>
    </tr>
    </thead>
    <tbody>
    {% for field in pattern.fields %}
      <tr>
        <td><code>{{ field.name }}</code></td>
        <td>{{ field.label }}</td>
        <td><code>{{ field.type }}</code></td>
        <td style="width: fit-content">{{ field.description }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endif %}
