{#
/**
 * @file
 * UI Pattern library page template, override this in your theme.
 */
#}
{% if patterns is not empty %}
  {% set patterns = patterns|sort %}

  {# List of available patterns with anchor links. #}
  <div class="ecl-link-block">
    <ul class="ecl-link-block__list">
      {% for pattern_name, pattern in patterns %}
        <li class="ecl-link-block__item">
          <a class="ecl-link ecl-link--standalone ecl-link-block__link" href="#{{ pattern_name }}">{{ pattern.label }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>

  {% for pattern_name, pattern in patterns %}

  <div class="ecl-u-clearfix ecl-u-pv-l">
    {# Pattern name and desciption. #}
    <a name="{{ pattern_name }}"></a>
    {% include '@ecl/ec-component-button' with {
      'href': url('ui_patterns.patterns.single', {'name': pattern_name }),
      'label': "View as standalone"|t,
      'type': 'link',
      'modifier': 'call',
      'extra_classes': 'ecl-u-f-r',
      'icon': 'caret-right',
    } %}
    <h2 class="ecl-u-mt-none">{{ pattern.label }}</h2>
    {{ pattern.meta }}

    {# Rendered pattern preview. #}
    {% set style = pattern.meta['#pattern'].additional.style %}
    <div class="ecl-u-clearfix ecl-u-pv-xl" style="{{ style }}">
      {{ pattern.rendered }}
    </div>
    <hr>
  </div>

  {% endfor %}
{% endif %}
