{% spaceless %}

{#
/**
 * @file
 * UI Pattern meta information.
 */
#}
{% if pattern is not empty %}
  {# Pattern name and desciption. #}
  <p class="ecl-u-type-paragraph">{{ pattern.description }}</p>

  {# Pattern fields descriptions. #}
  <table class="ecl-table">
    <thead class="ecl-table__head">
    <tr class="ecl-table__row">
      <th scope="col" class="ecl-table__header">{{ "Field"|t }}</th>
      <th scope="col" class="ecl-table__header">{{ "Label"|t }}</th>
      <th scope="col" class="ecl-table__header">{{ "Type"|t }}</th>
      <th scope="col" class="ecl-table__header">{{ "Description"|t }}</th>
    </tr>
    </thead>
    <tbody class="ecl-table__body">
    {% for field in pattern.fields %}
      <tr class="ecl-table__row">
        <td data-ecl-table-header="{{ "Field"|t }}" class="ecl-table__cell"><code>{{ field.name }}</code></td>
        <td data-ecl-table-header="{{ "Label"|t }}" class="ecl-table__cell">{{ field.label }}</td>
        <td data-ecl-table-header="{{ "Type"|t }}" class="ecl-table__cell"><code>{{ field.type }}</code></td>
        <td data-ecl-table-header="{{ "Description"|t }}" class="ecl-table__cell">{{ field.description }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endif %}

{% endspaceless %}
