{#
/**
 * @file
 * Theme override for the entity reference revisions field wich allowed to use oe_event_speaker entity type.
 *
 * @see ./templates/field/field--bare.html.twig
 */
#}
<h2 class="ecl-u-type-heading-2 ecl-u-mt-2xl ecl-u-mt-m-3xl ecl-u-mb-l">{{ label }}</h2>
<div class="ecl-row field-oe-event-speakers">
    {% for item in items %}
        <article class="ecl-u-d-flex ecl-u-pv-m ecl-u-border-bottom ecl-u-border-color-grey-15 ecl-col-12 ecl-col-m-6 ecl-col-l-4">
            <div role="img" class="ecl-u-flex-shrink-0 ecl-u-mr-s ecl-u-media-a-s ecl-u-media-bg-size-contain ecl-u-media-bg-repeat-none" style="background-image:url({{ item.content.portrait_image }})"></div>
            <div class="ecl-u-flex-grow-1">
                {% if item.event_speaker.oe_event_role.value %}
                    <div class="ecl-content-item__meta ecl-u-type-s ecl-u-type-color-grey-75 ecl-u-mb-xs ecl-u-type-uppercase">{{ item.event_speaker.oe_event_role.value }}</div>
                {% endif %}
                <a href="{{ path('entity.node.canonical', {'node': item.event_speaker.oe_person.entity.id}) }}" class="ecl-link ecl-link--standalone ecl-u-type-bold ecl-u-type-uppercase">{{ item.event_speaker.label() }}</a>
                {% if item.content.person_jobs %}
                    <div class="field-person-jobs ecl-u-type-s ecl-u-type-color-grey-75 ecl-u-mb-xs">{{ item.content.person_jobs }}</div>
                {% endif %}
            </div>
        </article>
    {% endfor %}
</div>
