{#
/**
 * @file
 * Theme for the registration button extra field on event content type.
 */
#}
<div id="event-registration-block">
  {% if show_button %}
    {% if registration_day %}
      <span class="ecl-u-mt-2xl{% if not enabled %} ecl-u-d-none{% else %} ecl-u-d-inline-block{% endif %}" data-registration-active-element="true">
        {{ pattern('link', {
          variant: 'cta',
          text: label,
          url: url
        }) }}
      </span>
      <button type="submit" class="ecl-button ecl-button--call ecl-u-mt-2xl ecl-link ecl-link--cta{% if enabled %} ecl-u-d-none{% endif %}" disabled="" data-registration-upcoming-element="true">{{ label }}</button>
    {% else %}
      {% if enabled %}
        <span class="ecl-u-mt-2xl ecl-u-d-inline-block">
          {{ pattern('link', {
            variant: 'cta',
            text: label,
            url: url
          }) }}
        </span>
      {% else %}
        <button type="submit" class="ecl-button ecl-button--call ecl-u-mt-2xl ecl-link ecl-link--cta" disabled="">{{ label }}</button>
      {% endif %}
    {% endif %}
  {% endif %}
  {% if registration_day %}
    <p class="ecl-u-type-paragraph ecl-u-type-color-grey-75{% if enabled %} ecl-u-d-none{% endif %}" data-registration-upcoming-element="true">{{ registration_day_description }}</p>
    <p class="ecl-u-type-paragraph ecl-u-type-color-grey-75{% if not enabled %} ecl-u-d-none{% endif %}" data-registration-active-element="true">{{ description }}</p>
  {% elseif description %}
    <p class="ecl-u-type-paragraph ecl-u-type-color-grey-75">{{ description }}</p>
  {% endif %}
</div>
