{#
/**
 * @file
 * Theme for the registration button extra field on event content type.
 */
#}
<div id="event-registration-block">
  {% if show_button %}
    {% if approaching_time %}
      <a href="{{ url }}" class="ecl-u-mt-2xl ecl-link ecl-link--cta{% if not enabled %} ecl-u-d-none{% else %} ecl-u-d-inline-block{% endif %}" data-registration-active-element="true">{{ label }}</a>
      <button type="submit" class="ecl-button ecl-button--call ecl-u-mt-2xl ecl-link ecl-link--cta{% if enabled %} ecl-u-d-none{% endif %}" disabled="" data-registration-upcoming-element="true">{{ label }}</button>
    {% else %}
      {% if enabled %}
        <a href="{{ url }}" class="ecl-u-mt-2xl ecl-link ecl-link--cta ecl-u-d-inline-block">{{ label }}</a>
      {% else %}
        <button type="submit" class="ecl-button ecl-button--call ecl-u-mt-2xl ecl-link ecl-link--cta" disabled="">{{ label }}</button>
      {% endif %}
    {% endif %}
  {% endif %}
  {% if approaching_time %}
    <p class="ecl-u-type-paragraph ecl-u-type-color-grey-75{% if enabled %} ecl-u-d-none{% endif %}" data-registration-upcoming-element="true">{{ approaching_time_description }}</p>
    <p class="ecl-u-type-paragraph ecl-u-type-color-grey-75{% if not enabled %} ecl-u-d-none{% endif %}" data-registration-active-element="true">{{ description }}</p>
  {% elseif description %}
    <p class="ecl-u-type-paragraph ecl-u-type-color-grey-75">{{ description }}</p>
  {% endif %}
</div>
