{#
/**
 * @file
 * Theme override for the contacts extra field on event content type.
 *
 * @see \Drupal\oe_theme_content_event\Plugin\ExtraField\Display\ContactsExtraField::viewElements()
 */
#}
{% if general is not empty or press is not empty %}
  <div id="event-contacts">
    <h2 class="ecl-u-type-heading-2 ecl-u-mt-2xl ecl-u-mt-m-3xl ecl-u-mb-l">{{ 'Contacts'|t }}</h2>
    {% if general is not empty %}
      <div id="event-contacts-general">
        <h3 class="ecl-u-type-heading-3 ecl-u-mt-none ecl-u-mb-m ecl-u-mb-m-l">{{ 'General contact'|t }}</h3>
        {% for contact in general %}
          <div{{ not loop.last ? ' class="ecl-u-mb-xl ecl-u-pb-xl ecl-u-border-bottom {{ ecl_class_border_color() }}"'}}>
            {{ contact }}
          </div>
        {% endfor %}
      </div>
    {% endif %}
    {% if press is not empty %}
      <div id="event-contacts-press">
        <h3 class="ecl-u-type-heading-3 ecl-u-mt-none ecl-u-mb-m ecl-u-mb-m-l">{{ 'Press contact'|t }}</h3>
        {% for contact in press %}
          <div{{ not loop.last ? ' class="ecl-u-mb-xl ecl-u-pb-xl ecl-u-border-bottom {{ ecl_class_border_color() }}"'}}>
            {{ contact }}
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endif %}
