{#
/**
 * @file
 * Theme override to display a single page.
 *
 * @see ./core/themes/stable/templates/layout/page.html.twig
 */
#}
{% block site_header %}
<header
  class="ecl-site-header"
  data-ecl-site-header
  data-ecl-auto-init-todo="SiteHeader"
>
  {{ page.site_top_bar }}
  <div class="ecl-site-header__container ecl-container">
    <div class="ecl-site-header__banner">
      {{ page.site_header }}
    </div>
    {{ page.site_header_secondary }}
  </div>
</header>
{% endblock %}

{% block page_header %}
  {% if page.page_header %}
    {{ page.page_header }}
  {% endif %}
{% endblock %}

{% block navigation %}
  {{ page.navigation }}
{% endblock %}

{% block content %}
<main class="ecl-u-pv-xl" id="main">
  <div class="ecl-container">
    <div class="ecl-row">
      <div class="ecl-col-sm-12">
        {{ page.content }}
      </div>
    </div>
  </div>
</main>
{% endblock %}

{% if page.footer %}
  {% block footer %}
    {{ page.footer }}
  {% endblock %}
{% endif %}

