{#
/**
 * @file
 * Theme override to display a single page.
 *
 * @see ./core/themes/stable/templates/layout/page.html.twig
 */
#}
{% block site_header %}
<header class="ecl-site-header">
  {{ page.site_top_bar }}
  <div class="ecl-site-header__container ecl-container">
    <div class="ecl-site-header__banner">
      {{ page.site_header }}
    </div>
    {{ page.site_header_secondary }}
  </div>
</header>
{% endblock %}

{% block page_header %}
  {% if page.page_header %}
    {{ page.page_header }}
  {% endif %}
{% endblock %}

{% block navigation %}
  {{ page.navigation }}
{% endblock %}

{% block content %}
<section class="main-content ecl-u-mv-l">
  <div class="ecl-container">
    <div class="ecl-row">
      <div class="ecl-col">
        {{ page.content }}
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% if page.footer %}
  {% block footer %}
    {{ page.footer }}
  {% endblock %}
{% endif %}

