{#
/**
 * @file
 * Theme override to display a single page.
 *
 * @see ./core/themes/stable/templates/layout/page.html.twig
 */
#}

<header class="ecl-site-header" role="banner">
  {{ page.site_top_bar }}
  <div class="ecl-container ecl-site-header__banner">
    {{ page.site_header }}
  </div>
</header>

<div class="ecl-page-header">
  <div class="ecl-container">
    {{ page.breadcrumb }}
    {% if page.page_header %}
      <div class="ecl-page-header__body">
        {{ page.page_header }}
      </div>
    {% endif %}
  </div>
</div>

{{ page.navigation }}

<section class="main-content ecl-u-mv-l">
  <div class="ecl-container">
    <div class="ecl-row">
      <div class="ecl-col">
        {{ page.content }}
      </div>
    </div>
  </div>
</section>

<footer class="ecl-footer">

  {% if page.footer_custom %}
  <div class="ecl-footer__custom">
    <div class="ecl-container">
      {{ page.footer_custom }}
    </div>
  </div>
  {% endif %}

  <div class="ecl-footer__corporate">
    {% if page.footer_corporate_top %}
    <div class="ecl-footer__corporate-top">
      <div class="ecl-container">
        {{ page.footer_corporate_top }}
      </div>
    </div>
    {% endif %}
    {% if page.footer_corporate_bottom %}
    <div class="ecl-footer__corporate-bottom">
      <div class="ecl-container">
        {{ page.footer_corporate_bottom }}
      </div>
    </div>
    {% endif %}
  </div>

</footer>
