{#
/**
 * @file
 * Theme override to display a single page.
 *
 * @see ./core/themes/stable/templates/layout/page.html.twig
 */
#}
{% block site_header %}
<header
  class="ecl-site-header-{{ ecl_branding }}"
  data-ecl-site-header="true"
  data-ecl-auto-init="SiteHeader{{ ecl_branding|capitalize }}"
>
  {{ page.site_top_bar }}
  <div class="ecl-site-header-{{ ecl_branding }}__container ecl-container">
    <div class="ecl-site-header-{{ ecl_branding }}__top">
      {{ page.site_header }}
      <div class="ecl-site-header-{{ ecl_branding }}__action">
        {{ page.site_header_secondary }}
      </div>
    </div>
  </div>
  {% block navigation %}
    {{ page.navigation }}
  {% endblock %}
</header>
{% endblock %}

{% block page_header %}
  {% if page.page_header %}
    {{ page.page_header }}
  {% endif %}
{% endblock %}

{% block content %}
<main{{ main_attributes }}>
  <div class="ecl-container">
    <div class="ecl-row">
      <div class="ecl-col-sm-12">
        {% if page.left_sidebar %}
          <div {{ attributes.addClass(['ecl-row', 'ecl-u-mt-l']) }}>
            <div class="oe-theme-left-sidebar ecl-col-12 ecl-col-lg-3">
              {{ page.left_sidebar }}
            </div>
            <div class="oe-theme-content-region ecl-col-lg-9">
              {{ page.content }}
            </div>
          </div>
        {% else %}
          {{ page.content }}
        {% endif %}
      </div>
    </div>
  </div>
</main>
{% endblock %}

{% if page.footer %}
  {% block footer %}
    {{ page.footer }}
  {% endblock %}
{% endif %}
