{#
/**
 * @file
 * Theme override to display a single page.
 *
 * @see ./core/themes/stable/templates/layout/page.html.twig
 */
#}

<header class="ecl-site-header" role="banner">
  {{ page.site_top_bar }}
  <div class="ecl-container ecl-site-header__banner">
    {{ page.site_header }}
  </div>
</header>

<div class="ecl-page-header">
  <div class="ecl-container">
    {{ page.breadcrumb }}
    <div class="ecl-page-header__body">
      {{ page.page_header }}
    </div>
  </div>
</div>

{{ page.navigation }}

<section class="main-content ecl-u-mv-l">
  <div class="ecl-container">
    <div class="ecl-row">
      <div class="ecl-col">
        {{ page.content }}
      </div>
    </div>
  </div>
</section>

<footer class="ecl-footer">

  {% if page.footer_identity %}
  <div class="ecl-footer__site-identity">
    <div class="ecl-container">
      {{ page.footer_identity }}
    </div>
  </div>
  {% endif %}

  {% if page.footer_corporate %}
  <div class="ecl-footer__site-corporate">
    <div class="ecl-container">
      {{ page.footer_corporate }}
    </div>
  </div>
  {% endif %}

  {% if page.footer_ec %}
  <div class="ecl-footer__ec">
    <div class="ecl-container">
      {{ page.footer_ec }}
    </div>
  </div>
  {% endif %}

</footer>
