{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.site_top_bar: Contains items site top bar items, such as: site switchers, user account menu, etc.
 * - page.site_header: Contains header items, such as: language switcher, search box, etc.
 * - page.breadcrumb: Contains the breadcrumb block.
 * - page.page_header: Contains meta information about the current page.
 * - page.content: The main content of the current page.
 * - page.footer: Items for the footer region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

<header class="ecl-site-header" role="banner">
  {{ page.site_top_bar }}
  <div class="ecl-container ecl-site-header__banner">
    {{ page.site_header }}
  </div>
</header>

<div class="ecl-page-header">
  <div class="ecl-container">
    {{ page.breadcrumb }}
    <div class="ecl-page-header__body">
      {{ page.page_header }}
    </div>
  </div>
</div>

<section class="main-content ecl-u-mv-l">
  <div class="ecl-container">
    <div class="ecl-row">
      <div class="ecl-col">
        {{ page.content }}
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="ecl-container">
    <div class="ecl-row">
      <div class="ecl-col">
        {% if page.footer %}
          {{ page.footer }}
        {% endif %}
      </div>
    </div>
  </div>
</footer>

<footer class="ecl-footer">

  {% if page.footer_identity %}
  <div class="ecl-footer__site-identity">
    <div class="ecl-container">
      {{ page.footer_identity }}
    </div>
  </div>
  {% endif %}

  {% if page.footer_corporate %}
  <div class="ecl-footer__site-corporate">
    <div class="ecl-container">
      {{ page.footer_corporate }}
    </div>
  </div>
  {% endif %}

  {% if page.footer_ec %}
  <div class="ecl-footer__site-ec">
    <div class="ecl-container">
      {{ page.footer_ec }}
    </div>
  </div>
  {% endif %}

</footer>
