{#
/**
 * @file
 * Theme override to display a single page.
 *
 * @see ./core/themes/stable/templates/layout/page.html.twig
 */
#}
{% block site_header %}
  {% set has_menu = page.navigation|render|striptags|trim is not empty %}
<header
  class="ecl-site-header"
  data-ecl-auto-init="SiteHeader"
  {% if has_menu %}data-ecl-has-menu{% endif %}
>
  {{ page.site_top_bar }}
  {% block site_header_container %}
    <div class="ecl-site-header__container ecl-container">
      <div class="ecl-site-header__top">
        {{ page.site_header }}
        <div class="ecl-site-header__action">
          {{ page.site_header_secondary }}
        </div>
      </div>
    </div>
  {% endblock %}
  {% block navigation %}
    {% if has_menu %}
      <div class="ecl-site-header__banner">
        <div class="ecl-container"></div>
      </div>
    {% endif %}
    {{ page.navigation }}
  {% endblock %}
</header>
{% endblock %}

{% block page_header %}
  {% if page.page_header %}
    {{ page.page_header }}
  {% endif %}
{% endblock %}

{% block content %}
<main{{ main_attributes }}>
  <div class="ecl-container">
    <div class="ecl-row">
      <div class="ecl-col-s-12">
        {{ page.content }}
      </div>
    </div>
  </div>
</main>
{% endblock %}

{% if page.footer %}
  {% block footer %}
    {{ page.footer }}
  {% endblock %}
{% endif %}
