{#
/**
 * @file
 * Theme override to display a single page.
 *
 * @see ./core/themes/stable/templates/layout/page.html.twig
 */
#}
{% block site_header %}
<header
  class="ecl-site-header-{{ ecl_branding }}"
  data-ecl-auto-init="SiteHeader{{ ecl_branding|capitalize }}"
>
  {{ page.site_top_bar }}
  <div class="ecl-site-header-{{ ecl_branding }}__container ecl-container">
    <div class="ecl-site-header-{{ ecl_branding }}__top">
      {{ page.site_header }}
      <div class="ecl-site-header-{{ ecl_branding }}__action">
        {{ page.site_header_secondary }}
      </div>
    </div>
  </div>
  {% block navigation %}
    {{ page.navigation }}
  {% endblock %}
</header>
{% endblock %}

{% block page_header %}
  {% if page.page_header %}
    {{ page.page_header }}
  {% endif %}
{% endblock %}

{% block content %}
<main{{ main_attributes }}>
  <div class="ecl-container">
    <div class="ecl-row">
      <div class="ecl-col-s-12">
        {{ page.content }}
      </div>
    </div>
  </div>
</main>
{% endblock %}

{% if page.footer %}
  {% block footer %}
    {{ page.footer }}
  {% endblock %}
{% endif %}
