{#
/**
 * @file
 * Theme override to display a single page for 'Standardised' ECL branding.
 *
 * There is additional wrapper for 'site_header_container' block and banner with site_name.
 *
 * @see ./oe_theme/templates/layout/page.html.twig
 */
#}
{% extends "page.html.twig" %}

{% block site_header_container %}
  <div class="ecl-site-header-{{ ecl_branding }}__header">
    {{ parent() }}
  </div>
{% endblock %}

{% block navigation %}
  <div class="ecl-site-header-{{ ecl_branding }}__banner">
    <div class="ecl-container">{{ site_name }}</div>
  </div>
  {{ parent() }}
{% endblock %}

