{#
/**
 * @file
 * Theme implementation to present a contact entity.
 *
 * @see ./modules/contrib/oe_content_entity/modules/oe_content_entity_contact/templates/oe-contact.html.twig
 */
#}
<div class="ecl-row ecl-u-mv-xl">
  <div class="ecl-col-12">
    <h3 class="ecl-u-type-heading-3 ecl-u-mt-none">{{ content.name }}</h3>
  </div>
  {% if entity.oe_image is not empty %}
    <div class="ecl-col-md-6">
  {% else %}
    <div class="ecl-col-12">
  {% endif %}
    {% if entity.oe_body is not empty %}
      <div class="ecl-editor">
        {{ content.oe_body }}
      </div>
    {% endif %}
    {{ content.group_contact_information }}
    {% if entity.oe_press_contact_url is not empty or entity.oe_link is not empty %}
      <div class="ecl-u-border-top ecl-u-border-color-grey-15">
        {{ content.oe_press_contact_url }}
        {{ content.oe_link }}
      </div>
    {% endif %}
    </div>
  {% if entity.oe_image is not empty %}
    <div class="ecl-col-md-5">
      {{ content.oe_image }}
    </div>
  {% endif %}
</div>
