{#
/**
 * @file
 * Theme implementation to present a contact entity.
 *
 * @see ./modules/contrib/oe_content_entity/modules/oe_content_entity_contact/templates/oe-contact.html.twig
 */
#}
{% set image = content.oe_image|field_value|render %}
<div class="ecl-row ecl-u-mv-xl">
  <div class="ecl-col-12">
    <h3 class="ecl-u-type-heading-3 ecl-u-mt-none">{{ content.name }}</h3>
  </div>
  {% if image is not empty %}
    <div class="ecl-col-m-6">
  {% else %}
    <div class="ecl-col-12">
  {% endif %}
    {% if entity.oe_body is not empty %}
      <div class="ecl-u-m-l">
        {{ content.oe_body }}
      </div>
    {% endif %}
    {{ content.group_contact_information }}
    {% if not entity.oe_press_contact_url.isEmpty() or not entity.oe_link.isEmpty() %}
      <div class="ecl-u-border-top ecl-u-border-color-grey-15 ecl-u-mt-s">
        {{ content.oe_press_contact_url }}
        {{ content.oe_link }}
      </div>
    {% endif %}
    </div>
  {% if image is not empty %}
    <div class="ecl-col-m-5">
      {{ image }}
    </div>
  {% endif %}
</div>
